/* sets the minimun width as 800px, which is the max width for extensions */
body {
    min-width: 800px;
    min-height: 300px;
    margin: 0;
}

/* navbar styles */
.navbar-nav {
    flex-direction: row;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.navbar-nav .nav-item button {
    color: white;
    border-color: white;
}

/* loading styles */
.loading {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.next-dates-list {
    margin-bottom: 20px
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #212529;
    color: white;
    min-height: 50px;
    display: flex;
    padding: 0px 20px 0px 20px;
    justify-content: space-between;
}

.footer-notifications {
    display: flex;
    align-self: center;
}

.footer-description {

}

.error {
    margin-top: 40px;
}

.title-group {
    display: flex;
}

.title {
    margin-right: 10px;
}

.history-table {
    word-break: break-all;
}

.history-table .ellipsis {
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.history-table .ellipsis.expand {
    max-width: 235px;
}

.header-cols {
    word-break: break-word;
}










/* 
#request-success {
    display: none;
}

#request-error {
    display: none;
} */

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 13px;
    font-family: sans-serif;
    min-width: 400px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}