/* sets the minimun width as 800px, which is the max width for extensions */
body {
    min-width: 800px;
    min-height: 300px;
    margin: 0;
}

/* navbar styles */
.navbar-nav {
    flex-direction: row;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.navbar-nav .nav-item button {
    color: white;
    border-color: white;
}

/* loading styles */
.loading {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.next-dates-list {
    margin-bottom: 20px
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #212529;
    color: white;
    min-height: 50px;
    display: flex;
    padding: 0px 20px 0px 20px;
    justify-content: space-between;
}

.footer-notifications {
    display: flex;
    align-self: center;
}

.footer-description {
    display: flex;
    align-self: center;
}

.footer-description p {
    display: flex;
    align-self: center;
    margin: 0px 10px 0px 0px;
}

.footer-description img {
    width: 30px;
    border-radius: 50px;
}

.error {
    margin-top: 40px;
}

.title-group {
    display: flex;
}

.title {
    margin-right: 10px;
}

.history-table {
    word-break: break-all;
}

.history-table .ellipsis {
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.history-table .ellipsis.expand {
    max-width: 235px;
}

.header-cols {
    word-break: break-word;
}